body {
  text-align: center;
  background-color: #f0e8c5;
}

div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}
#date_time {
    margin: 2rem auto;
    width: 20%;
    font-size: 3rem;
    background-color: black;
    color: azure;
    padding: 1rem;
    border-radius: 1rem;
}
